<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="commonHead">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta charset="utf-8">
    <meta name="title" th:content="${metaTitle}">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="stortcut icon" th:href="@{/img/favicon.ico}"/>
    <!-- ============================================= JS ============================================= -->
    <!-- Library -->
    <script th:src="@{/js/library/jquery-2.1.3.min.js}"></script>
    <script th:src="@{/js/library/jquery-ui-1.11.3.min.js}"></script>
    <script th:src="@{/js/library/all.min.js}"></script>
    <script th:src="@{/js/library/crypto-js.min.js}"></script>
    <script th:src="@{/js/library/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/SmartEditor2.3.10/js/HuskyEZCreator.js}"></script>
    <script th:src="@{/js/quiz/quizGame.js}"></script>
    <script th:src="@{/js/quiz/quizManagement.js}"></script>
    <script th:src="@{/js/common/common.js}"></script>

    <!-- ============================================= CSS ============================================= -->
    <!-- Library -->
    <link rel="stylesheet" th:href="@{/css/library/jquery-ui.css}" />
    <link rel="stylesheet" th:href="@{/css/all.min.css}" />
    <link rel="stylesheet" th:href="@{/css/default.css}" />
    <link rel="stylesheet" th:href="@{/css/quiz.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />

    <!-- module -->


</th:block>
</html>